@font-face {
    font-family:"caveat";
    src: url(fonts/Caveat-Regular.ttf) format("truetype");
    font-weight: 200;
    font-size: 42px;
}

@font-face {
    font-family:"caveat";
    src: url(fonts/Caveat-Medium.ttf) format("truetype");
    font-weight: 400;
    font-size: 42px;
}

@font-face {
    font-family:"caveat";
    src: url(fonts/Caveat-Bold.ttf) format("truetype");
    font-weight: 600;
    font-size: 42px;
}